@model Exercicio_01.Models.Guest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Guest</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Nome)</td>
                <td>@Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.DisplayNameFor(model => model.Telefone)</td>
                <td>@Html.DisplayNameFor(model => model.Comparecimento)</td>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Nome)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Telefone)</td>
                <td>
                    @if (Model.Comparecimento == true)
                    {
                        <p>Yes</p>
                    }
                    else if (Model.Comparecimento == false)
                    {
                        <p>No</p>
                    }
                    else
                    {
                        <p>Not set</p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id}) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
